In [103]:
!pip install yFinance
import yfinance as yf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yFinance in /usr/local/lib/python3.7/dist-packages (0.1.87)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yFinance) (2.28.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yFinance) (1.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yFinance) (1.4.4)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yFinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yFinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yFinance) (4.9.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yFinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yFinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yFinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yFinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yFinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yFinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yFinance) (2022.9.24)

In [104]:
import plotly.graph_objs as go

In [105]:
usd_try = yf.Ticker("TRY=X")

In [ ]:
#usd_try.info

In [106]:
#Günlük periyotta 1 dakikalık aralıklarla veriyi çekiyorum. Verim Pandas Dataframe olarak geliyor.
df = yf.download(tickers='TRY=X', period='1d', interval='1m')
type(df)

[*********************100%***********************]  1 of 1 completed

pandas.core.frame.DataFrame

In [107]:
df # Veri setinde son satır için tüm değerleri anlık veri olarak çektiği için değerler aynı görünmekte.

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-11-17 00:00:00,18.604450,18.624001,18.599501,18.606310,18.606310,0
2022-11-17 00:01:00,18.605949,18.620300,18.599001,18.620300,18.620300,0
2022-11-17 00:02:00,18.606400,18.620399,18.598400,18.615400,18.615400,0
2022-11-17 00:03:00,18.615700,18.617300,18.589451,18.614300,18.614300,0
2022-11-17 00:04:00,18.615101,18.617500,18.589609,18.606819,18.606819,0
...,...,...,...,...,...,...
2022-11-17 21:22:00,18.586349,18.586349,18.559700,18.586349,18.586349,0
2022-11-17 21:23:00,18.586349,18.597799,18.559700,18.585699,18.585699,0
2022-11-17 21:24:00,18.585100,18.598900,18.559900,18.559900,18.559900,0
2022-11-17 21:25:00,18.584841,18.597900,18.560699,18.581110,18.581110,0
2022-11-17 21:26:46,18.586300,18.586300,18.586300,18.586300,18.586300,0

In [108]:
print(df.iloc[len(df['Close'])-1])

Open         18.5863
High         18.5863
Low          18.5863
Close        18.5863
Adj Close    18.5863
Volume        0.0000
Name: 2022-11-17 21:26:46, dtype: float64

In [112]:
close_value=(df['Close'].iloc[len(df['Close'])-1]) #Close sutünunun son verisini kapanış değeri olarak atıyorum.
print(close_value)

18.586299896240234

In [113]:
from datetime import datetime

#datetime tüm zaman birimlerini kapsamaktadır.
now = datetime.now()
#Veri saniyeye kadar indiği için bende buraya kadar alıyorum.
sys_date = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", sys_date)

date and time = 17/11/2022 21:27:19

In [114]:
def set_alarm(min_price,max_price):
  import yfinance as yf
  from datetime import datetime #Yahoo finance ve datetime tekrardan import edilmesi
  usd_try = yf.Ticker("TRY=X") # İstenilen birim veya hisse kodunun yerleştirilmesi
  while True: # Fonksiyonun sonsuz döngüye sokulması
      data = yf.download(tickers='TRY=X', period='1d', interval='1m')
      close_value=(data['Close'].iloc[len(data['Close'])-1]) #anlık kapanış değerinin alınması
      now = datetime.now()
      sys_date = now.strftime("%d/%m/%Y %H:%M:%S") # Güncel sistem zamanının alınması
      if close_value>=max_price: # max fiyat için koşul
        print("Price is  "  + str(close_value) + " . Time to sell. " +str(sys_date))
        break
      elif close_value<=min_price: # min fiyat için koşul
        print("Price is  "  + str(close_value) + " . Time to buy. " +str(sys_date))            
        break
      else:
        print("Value of TRY is : " + str(close_value) +" at " +str(sys_date)) # koşullar sağlanmadıkça anlık değeri ve zamanı çıktı olarak görmek istiyorum.

In [116]:
set_alarm(18.58,18.59)

[*********************100%***********************]  1 of 1 completed
Price is  18.59600067138672 . Time to sell. 17/11/2022 21:27:42